html,
body,
#root {
  height: 100%;
  font-family: $roboto;
  background: $alabaster;
  color: $abbey;
  font-size: 16px;
}

#root {
  padding: 10px;
}

.app {
  display: block;
  box-sizing: border-box;

  @media (max-width: $bp-l) {
    .header,
    .cards,
    .bars,
    .map,
    .summary {
      margin: 10px;
    }
  }

  @media (min-width: $bp-l) {
    display: grid;
    height: calc(100% - 20px);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 130px 1fr 1fr;
    grid-template-areas:
      "header header header header"
      "cards  cards cards cards"
      "bars map map map"
      "summary map map map";
    gap: 15px;

    .header {
      grid-area: header;
    }

    .cards {
      grid-area: cards;
    }

    .bars {
      grid-area: bars;
    }

    .map {
      grid-area: map;
    }

    .summary {
      grid-area: summary;
    }
  }

  .dashboard-box {
    @include shadow;

    &__header {
      background: $polar;
      @include valgin-middle;
      padding-left: 10px;
      height: 40px;
      box-sizing: border-box;
    }

    &__content {
      height: calc(100% -  60px);
      padding: 10px;
      box-sizing: border-box;
      overflow: hidden;
    }

    &__footer {
      background: $seashell;
    }
  }
}
