html,
body,
#root {
  height: 100%;
  font-family: $roboto;
  background: $pampas;
  color: $abbey;
}

.app {
  display: block;
  padding: 10px;
  box-sizing: border-box;

  @media (min-width: $bp-s) {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70px 150px repeat(3, 1fr) 0.5fr;
    grid-template-areas:
      "header header header header"
      "cards  cards  cards  cards"
      "bars bars  map map"
      "bars bars map map"
      "summary summary map map"
      "summary summary map map";
    gap: 10px;

    .header {
      grid-area: header;
    }

    .cards {
      grid-area: cards;
    }

    .bars {
      grid-area: bars;
    }

    .map {
      grid-area: map;
    }

    .summary {
      grid-area: summary;
    }
  }
}
