.cards {
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr;
  gap: 15px;

  @media(min-width: $bp-xs) {
    grid-template: 1fr 1fr / 1fr 1fr;
  }

  @media(min-width: $bp-l) {
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
  }

  .card {
    background: $polar;
    @include shadow;
    min-height: 120px;
    height: 100%;
    color: $abbey;
    border-radius: 0;
    border: 0;
    position: initial;

    &__container {
      height: 100%;
      box-sizing: border-box;
    }

    &__header {
      padding: 10px;
      height: calc(100% - 40px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__value {
      font-size: 36px;
      height: 36px;
      @include valgin-middle;

      &--big {
        font-size: 28px;
      }
    }

    &__info-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &__change {
      flex-shrink: 0;
      &--positive {
        color: $fernGreen;
      }

      &--negative {
        color: $brightRed;
      }
    }

    &__footer {
      height: 40px;
      background: $seashell;
      color: white;
      font-weight: 300;
      @include valgin-middle;
      justify-content: space-between;
      padding-left: 10px;
    }

    &__icon {
      width: 40px;
      height: 100%;
      @include valgin-middle;
      justify-content: center;

      &--total_profit {
        background: $scooter;
      }

      &--mean_profit {
        background: $conifer;
      }

      &--units_produced {
        background: $neonCarrot;
      }

      &--units_sold {
        background: $carnation;
      }
    }
  }
}
