.chart-box {
  .dashboard-box {
    &__content {
      [type='bar'] {
        width: 90%;
        height: 90%;
        @include valgin-middle;
        position: relative;
        left: -3%;
      }

      .apexcharts-toolbar {
        display: none;
      }
    }
  }

  .apexcharts {
    &-toolbar {
      position: relative;
      padding-right: 0px;
    }

    &-tooltip {
      &-title,
      &-text {
        font-family: $maven !important;
      }
    }

    &-menu {
      top: initial;
      bottom: 100%;
      min-width: 120px;

      &-item {
        &:hover {
          background: $alabaster;
        }
      }
    }
  }
}

@media (min-width: $bp-l) {
  .dashboard-box {
    &--expanded &__content {
      [type='bar'] {
        width: 70%;
        height: 70%;
      }
    }

    &--expanded &__chart-label {
      font-size: 1.1rem !important;
    }
  }
}
