.chart-box {
  .dashboard-box {
    &__content {
      .apexcharts-toolbar {
        display: none;
      }
    }
  }

  .apexcharts {
    &-toolbar {
      position: relative;
    }

    &-tooltip {
      &-title,
      &-text {
        font-family: $maven !important;
      }
    }

    &-menu {
      top: initial;
      bottom: 100%;
      min-width: 120px;

      &-item {
        &:hover {
          background: $alabaster;
        }
      }
    }
  }
}

@media(min-width: $bp-l) {
  .dashboard-box {
    &--expanded &__content {
      [type="bar"] {
        width: 90%;
        height: 90%;
      }
    }
  }
}
