.dashboard-box {
  @include shadow;
  display: grid;
  grid-template: 40px auto 40px / 1fr;

  &__header,
  &__footer,
  &__content {
    @include valgin-middle;
  }

  &__header {
    background: $polar;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }

  &__control-button {
    border: 0;
    background: transparent;

    &:focus,
    &:active {
      border: 0;
      outline: none;
    }

    svg {
      opacity: 0.7;
    }

    &--expand {
      display: none;
      @media (min-width: $bp-l) {
        display: initial;
      }
    }

    &--collapse {
      transform: rotate(180deg);
      @media (min-width: $bp-l) {
        display: none;
      }
    }
  }

  &__content {
    overflow: hidden;
    max-height: 100%;
    background: $alabaster;
  }

  &__footer {
    background: $seashell;
    padding-left: 10px;
    justify-content: space-between;
  }

  @media (max-width: $bp-l) {
    margin-top: 10px;
  }

  &--collapsed {
    grid-template: 40px / 1fr;
  }

  &--collapsed &__content,
  &--collapsed &__footer {
    max-height: 0;
    overflow: hidden;
  }

  &--collapsed &__control-button--collapse {
    transform: none;
  }

  &__chart-label {
    font-family: $maven !important;
  }

  @media(min-width: $bp-l) {
    &--expanded {
      position: absolute;
      width: calc(100vw - 20px);
      height: calc(100vh - 20px);
      z-index: 100;
      grid-template: 60px auto 40px;
    }

    &--expanded &__title {
      font-size: 22px;
    }
  }
}
