.dropdown {

  &-toggle {
    background: $polar;
    color: $abbey;
    border-radius: 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    border: none;
    transition: none;

    &.transparent {
      background: none;
    }

    &::after {
      margin-left: 1.5rem;

      @media print {
        display: none;
      }
    }

    &:focus,
    &:hover,
    &:active {
      color: $abbey;
      box-shadow: none !important;
      outline: none;
    }
  }

  &-menu {
    border-radius: 0;
    font-size: 0.9rem;
    max-height: 250px;
    overflow: auto;
  }

  &-item {
    padding: 0.25rem 0.5rem;

    &:active {
      background: $abbey;
      color: white;
    }
  }
}
