.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__page-title {
    text-transform: none;
    font-size: 2em;
  }

  @media (max-width: $bp-l) {
    margin-bottom: 10px;
  }
}
