.top-cities {
  .dashboard-box {
    &__content {
      [type='bar'] {
        path {
          fill: $scooter;
        }
      }

      .apexcharts {
        &-tooltip-marker {
          background: $scooter !important;
        }

        &-xaxis-label{
          display: none;

          &:last-child,
          &:first-child {
            display: inherit;
          }
        }
      }
    }
  }
}
