// Breakpoints
$bp-xs: 576px;
$bp-s: 768px;
$bp-l: 992px;
$bp-xl: 1200px;

// Fonts
$roboto: 'Roboto', 'Helvetica Neue', Arial, Verdana;

// Colors
$alabaster: #F8F8F8;
$abbey: #4C4F56;
$brightRed: #B10000;
$fernGreen: #4F7942;
$pampas: #FBFAF9;
$polar: #F9FCFE;
$seashell: #F1F1F1;
$scooter: #29BED7;
$conifer: #BFD851;
$neonCarrot: #FE9832;
$carnation: #FB5050;
