// Breakpoints
$bp-xs: 576px;
$bp-s: 768px;
$bp-l: 992px;
$bp-xl: 1200px;

// Fonts
$roboto: 'Roboto', 'Helvetica Neue', Arial, Verdana;

// Colors
$abbey: #4C4F56;
$brightRed: #B10000;
$fernGreen: #4F7942;
$pampas: #FBFAF9;
